<%- include('layouts/main') %>
<div class="bg-binar ms-5">
    <div class="container py-4" style="margin-left: 200px;">
        <div class="container py-4">
            <nav style="
                  --bs-breadcrumb-divider: url(
                    &#34;data:image/svg + xml,
                    %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
                  );
                " aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Cars</a></li>
                    <li class="breadcrumb-item"><a href="index.html">List Car</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Car</li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Add New Car</h5>
            </div>

            <!-- Form for creating a new car -->
            <form action="/cars/create" method="POST" enctype="multipart/form-data">
                <div class="bg-white p-4 mt-4">
                    <div class="row gap-3">
                        <div class="row col-12">
                            <div class="col-2">
                                <label>Name</label>
                            </div>
                            <div class="col-5">
                                <input id="name" name="name" required type="text" class="form-control" placeholder="Car Name" />
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-2">
                                <label>Price</label>
                            </div>
                            <div class="col-5">
                                <input id="price" name="price" required type="number" class="form-control" placeholder="Car Price" />
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-2">
                                <label>Size</label>
                            </div>
                            <div class="col-5">
                                <select id="size" name="size" class="form-select" required>
                                    <option value="" disabled selected hidden>Choose Car Size</option>
                                    <option value="Small">Small</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Large">Large</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-2">
                                <label>Image</label>
                            </div>
                            <div class="col-5">
                                <input type="file" name="image" class="form-control" accept="image/*" />
                                <label>File Size max. 2MB</label>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/cars" class="btn btn-binar-outlined-primary">Cancel</a>
                <button class="btn btn-binar-primary text-white" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>