<div class="container-fluid shadow-sm p-3 navbar navbar-light bg-white fixed-top position-static py-4 d-flex">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="margin-left: 300px;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="search ps-5 d-flex ms-auto">
        <div class="container-fluid">
            <form class="d-flex form-group search" role="search">
                <span class="fa fa-search m-glass"></span>
                <input class="form-control square" type="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                <button class="btn btn-outline-primary square" type="submit">Search</button>
            </form>
        </div>
        <div>
            <img src="../../assets/Frame 33.png" alt="" srcset="">
        </div>
    </div>
    <div class="d-flex px-5 nav-logo">
    </div>
</div>