<div class="binar-sidebar">
    <div class="binar-sidebar-main" style="width: 100px; padding: 0;">
        <div class="binar-icon-button mt-4">
            <img src="../../assets/Rectangle 63.png" height="32px" width="32px">
        </div>
        <div class="binar-icon-button">
            <img src="../../assets/fi_home.svg" height="32px" width="32px" alt="home" />
            Dashboard
        </div>
        <div class="binar-icon-button truck">
            <img src="../../assets/fi_truck.svg" height="32px" width="32px" alt="cars" />
            Cars
        </div>
    </div>

    <div class="binar-sidebar-list" style="position: relative; height: auto; padding: 0;">
        <div class="brand d-flex justify-content-center align-items-center">
            <div class="nav-icon-mid py-4" style="margin-left: auto; margin-right: auto;">
                <img src="../../assets/Rectangle 62.png">
            </div>
        </div>
        <div class="fw-bold fs-6 text-secondary" style="padding: 5px 100px 5px 20px; margin: 0;">CARS</div>
        <div class="list-car py-2 w-100">
            <h4 class="fs-6 fw-bold" style="padding: 5px 100px 5px 20px; margin: 0;">List Cars</h4>
        </div>
    </div>
</div>